/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
	background:#ccc;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*
{
    outline: none;
}



/*********************HEADER******************/

section{
	padding:0 20px;
}

#header{
	background:#e20030;
	color:#fff;
	height:70px;
  overflow:hidden;
}

.logo{
	float:left;
	margin-left:20px;
}

#menu{
	float:right;
  overflow:hidden;
  border-radius:3px;
}

#menu .categ-project{
	line-height:70px;
	border-left:1px solid #e94064;
	border-right:1px solid #e94064;
}

#menu ul li{
	padding:15px 40px 15px 30px;
  background:#e20030;
}

#menu ul li:hover{
	padding:15px 40px 15px 30px;
	background:#ff2736;
}

#menu .categ-project:hover{
	background:#e20030;
}

#menu ul li a{
	color:#fff;
	text-decoration:none;
}

#addproject{
  margin-top:28px;
  float:right;
  margin-right:15px;
}

#logout {
  float: right;
  margin-top: 17px;
  margin-left: 15px;
}


.categ-project{
  padding:0px 40px 0px 30px !important;
  padding-right:60px !important;
  background-image: url('../img/arrow-down.png') !important;
  background-repeat: no-repeat !important;
  background-position: 85% center !important;
}




/**********************PROJECT INFO**********************/

#project-info{
	height:190px;
	padding:20px;
	background-color:#333333;

}

/*PROJECT NAME*/

#project-name{
	float:left;
  min-width:500px;
	max-width:700px;
	padding:55px 40px 55px 20px;
	border-right: 1px solid #666;
}

#project-name img{
	float:left;
	margin-right:40px;
  border-radius:50%;
}

#project-name h2{
	font-size:48px;
	font-weight:700;
	color:#fff;
	text-transform:uppercase;
  overflow:hidden;
  text-overflow:ellipsis;
  min-width:500px;
  max-width:700px;
}

#project-name p{
	color:#ddd;
	font-size:12px;
	margin-top:15px;

}

/*PROJECT NUMBERS*/

#project-numbers{
	display:block;
	float:left;
	padding:20px;
}

.p-number{
	float:left;
	padding:0 50px;
}

#project-numbers .p-number{
	padding-top:28px;
}

#project-numbers span{
	font-size:28px;
	font-weight:bold;
	color:#fff;
}

#project-numbers p{
	color:#ddd;
	font-size:12px;
	margin-top:15px;
}


/*PROJECT EDIT*/

#project-edit{
	float:right;
	margin-top:75px;
	margin-right:30px;
}

#project-edit a{
	color:#fff;
	border:2px solid #fff;
	padding: 20px 30px;
	font-weight:700;
	text-decoration:none;
	border-radius:3px;
	position:relative;
}

.btn{
  color:#fff;
  border:2px solid #fff;
  padding: 10px 15px;
  font-weight:700;
  text-decoration:none;
  border-radius:3px;
}

.btn:hover{
  background:#fff;
  color:#e20030;
}

/**********************TIMELINE**********************/

#timeline-container{

	padding:0px;
	position:relative;
	background:#ccc;
	height:190px;


	background: #a5a5a5; /* Old browsers */
	background: -moz-linear-gradient(top,  #a5a5a5 0%, #e2e2e2 50%, #a5a5a5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5a5a5), color-stop(50%,#e2e2e2), color-stop(100%,#a5a5a5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a5a5a5 0%,#e2e2e2 50%,#a5a5a5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a5a5a5 0%,#e2e2e2 50%,#a5a5a5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a5a5a5 0%,#e2e2e2 50%,#a5a5a5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a5a5a5 0%,#e2e2e2 50%,#a5a5a5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5a5a5', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
/*background-image:url('../img/arrow-timeline.png');
background-position:center bottom;
    background-repeat:no-repeat*/

}

#timeline{
    display:none;
	position:relative;
	height:10px;
	background:#e94064;
	margin-top:-20px;
	top:90px;
	-webkit-box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.2);
    box-shadow:inset 0 0 5px 1px rgba(0,0,0,0.4);

}

#arrow-timeline{
	margin: 0 auto;
	width: 100%;
	text-align: center;
	margin-top: 150px;
	}


#infos{
	border-top:10px solid #333;
}

#number_commit
{
    display: none;
    margin: 0 auto;
    text-align: center;
    /*margin-top: 40px;*/
    line-height:100px;
    font-size: 42px;
    color: white;
    font-weight: 600;
}

#number_fixed
{
    margin: 0 auto;
    text-align: center;
    /*margin-top: 40px;*/
    line-height:100px;
    font-size: 42px;
    color: white;
    font-weight: 600;
}

.timeline-group{
    display: none;
	position:absolute;
    /*-webkit-transition: width 0.1s ease out, height 0.1s ease out;*/
    /*left: 50%;
    -webkit-transform: translate (-50%, 0);*/
	background: #e94064;
	border-radius:50%;
	-webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
    -webkit-transition: width ease 0.5s, height ease 0.5s, margin-left ease 0.5s, margin-top ease 0.5s, border ease 0.5s;
}

.timeline-group.blue{
    background: #3165b2;
}

.timeline-group:hover{
    border:2px solid #fff;
}

.scale1:hover{
    width: 100px;
    height: 100px;
    margin-left: -40px;
    margin-top: -40px;
}

.scale1
{
    width: 20px;
    height: 20px;
	top:-5px;
}

.scale2:hover{
    width: 100px;
    height: 100px;
    margin-left: -30px;
    margin-top: -30px;
}

.scale2
{
    width: 40px;
    height: 40px;
	top:-15px;
}

.scale3:hover{
    width: 100px;
    height: 100px;
    margin-left: -20px;
    margin-top: -20px;
}

.scale3
{
    width: 60px;
    height: 60px;
	top:-25px;
}

.scale4:hover{
    width: 100px;
    height: 100px;
    margin-left: -10px;
    margin-top: -10px;
}

.scale4
{
    width: 80px;
    height: 80px;
	top:-35px;
}

.scale5 {
    width: 100px;
    height: 100px;
    top:-46px;
}

.scale1.focus {
    border:2px solid #fff;
    width: 100px;
    height: 100px;
    margin-left: -40px;
    margin-top: -40px;
}

.scale2.focus {
    border:2px solid #fff;
    width: 100px;
    height: 100px;
    margin-left: -30px;
    margin-top: -30px;
}

.scale3.focus {
    border:2px solid #fff;
    width: 100px;
    height: 100px;
    margin-left: -20px;
    margin-top: -20px;
}

.scale4.focus{
    border:2px solid #fff;
    width: 100px;
    height: 100px;
    margin-left: -10px;
    margin-top: -10px;
}

.scale5.focus {
    border:2px solid #fff;
    width: 100px;
    height: 100px;
    /*margin-left: -30px;
    margin-top: -45px;*/
}

#infos{
  background:#ccc;
}

#infos-content{
  display:none;
  margin:0 auto;
  margin-top:-5px;
  width:750px;
  background:#333;
  border-radius:3px;
  min-height: 200px;
}

#infos-cp{
  display: none;
}


#fake-form{
  display: none;
}



#infos-cp h4{
  width:100%;
  margin:0 auto;
  padding:20px 0;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
  font-size:24px;
  border-bottom:1px solid #666;
}


#infos-cp p{
  color:#ddd;
  padding:30px;
  font-weight:400;
}

#infos-cp a{
	color:#fff;
}

#infos-cp span{
  font-weight:bold;
  line-height:32px;
}

#list-cp{
  display: none;
}



#list-cp h4{
  width:100%;
  margin:0 auto;
  padding:20px 0;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
  font-size:24px;
  border-bottom:1px solid #666;
}


#list-cp p{
  color:#ddd;
  padding:20px;
  font-weight:400;
  text-align:center;
}

#list-cp a{
	text-align:center;
	color:#fff;
}

#list-cp span{
  font-weight:bold;
  line-height:32px;
}

#fake-form{
  display: none;
}

#fake-form h4{
  width:100%;
  margin:0 auto;
  padding:20px 0;
  text-align:center;
  color:#fff;
  text-transform:uppercase;
  font-size:24px;
  border-bottom:1px solid #666;
}


#fake-form p{
  color:#ddd;
  padding:30px;
  font-weight:400;
}

#fake-form span{
  font-weight:bold;
  line-height:32px;
}


#date_chooser
{
    text-align:center;
	background-color:#666;
}


#date_chooser input#date {
	background: #fff;
	border: none;
	border-image-source: none;
	border-image-slice: none;
	border-image-width: none;
	border-image-outset: nonel;
	border-image-repeat: none;
	border-radius:3px;
	margin: 5px;
	font-family: 'Open Sans';
	width: 130px;
	padding: 3px 0px 3px 10px;
	font-weight: 600;
}


#go_date{
	background:#fff;
	border-radius:3px;
	font-family:'Open Sans';
	text-transform:uppercase;
	padding:3px 5px;


}

#checkpoint
{
    width:50px;
    height:50px;
    background-color: blue:
}

/***************PAGE ADD TIMELINE*****************/
.mini-form{
  margin:0 auto;
  text-align:center;
  width:470px;
  background:#333;
  border-radius:3px;
  margin-top:40px;
  padding:30px;
}

.mini-form h2{
  font-size:32px;
  color:#fff;
  text-transform:uppercase;
  margin-bottom:20px;
}

.mini-form input[type="button"], .mini-form input[type="submit"]{
  color:#fff;
  border:2px solid #fff;
  padding: 10px 15px;
  font-weight:700;
  text-decoration:none;
  border-radius:3px;
  background:transparent;
  font-size:14px;
  cursor:pointer;
  margin-top:20px;
}

.mini-form input:hover{
  background:#fff;
  color:#333;
}

#login-body{
  background: url(../img/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover; /* pour Chrome et Safari */
  -moz-background-size: cover; /* pour Firefox */
  -o-background-size: cover; /* pour Opera */
  background-size: cover; /* version standardisée */

}


#mine_fields input[type="text"], input#login_repo {
  width: 33%;
  border-radius:3px;
  line-height:28px;
  font-size:14px;
  color:#333;
  margin:15px 15px;
  padding:2px;
}

input#login_repo{
  width:75%;

}

select#select_mine{
   width: 33%;
   border-radius:3px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   margin:15px 15px;
   }
}


/*****************LOGIN FORM**********************/

#login-form{
  padding:50px;
  width:470px;
  margin-top:15%;
}

#login-form h2{
  text-transform:none;
}

#login-form input[type="text"], #login-form input[type="password"] {
  width: 100%;
  border-radius:3px;
  line-height:32px;
  font-size:24px;
  color:#333;
  margin:30px 0;
  padding:2px;
}

#login-form input[type="submit"] {
  float: left;
  margin-top:15px;
  background:#333;
  border:2px solid #fff;
  padding:10px 20px;
  border-radius:3px;
  width:48%;
  color:#fff;
  font-size:14px;
  cursor:pointer;
}

#login-form h3{
  color:#fff;
  font-size:12px;
  margin-top:50px;
}


#login-form input[type="submit"]:hover{
  background:#fff;
  color:#333;
}
/**********************INFOS**********************/


#mine_fields, #other_fields, #create, #return, #ok, #login_repo, #select_mine, #select_other
{
    display: none;
}
